<div class="table-admin-container">
    <table class="table container-table table-bordless table-hover">

        <tbody>
            <tr class="table-body ">
                <td class="vl"></td>
                <td>{{Sezione1}}</td>
                <td>{{Sezione2}}r</td>
                <td><i>{{Sezione3}}</i></td>
                <td>{{Sezione4}}</td>
                <td>{{Sezione5}}</td>
                <td class="icon-arrow"><i class="fa-regular fa-arrow-right"></i></td>
            </tr>
            <tr class="table-body">
                <td class="vl"></td>
                <td>{{Sezione6}}</td>
                <td>{{Sezione2}}</td>
                <td><i>{{Sezione3}}</i></td>
                <td>{{Sezione4}}</td>
                <td>{{Sezione5}}</td>
                <td class="icon-arrow"><i class="fa-regular fa-arrow-right"></i></td>
            </tr>

        </tbody>
    </table>
</div>